.button1 {
    background-color: #4ACFF0;
    font-weight: 700;
    font-size: 22px;
    border-radius: 15px;
    border: 0px;
    padding: 20px 0;
    width: 85%;
    color: #FBFDFD;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button1:hover {
    background-color: #2E82A7;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.3s ease-in-out;

}